<%= form_for(@service_provided_line_item) do |f| %>
  <% if @service_provided_line_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@service_provided_line_item.errors.count, "error") %> prohibited this service_provided_line_item from being saved:</h2>

      <ul>
      <% @service_provided_line_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<form role="form"> <!-- Bootstrap CSS styling -->
  <div class="form-group">
    <%= f.label :entry_date %><br />
    <%= f.date_select :entry_date %>
  </div>
  <div class="form-group">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="form-group">
    <%= f.label :no_people %><br />
    <%= f.number_field :no_people %>
  </div>
  <div class="form-group">
    <%= f.label :rate_per_person %><br />
    <%= f.text_field :rate_per_person %>
  </div>
  <div class="form-group">
    <%= f.label :amount %><br />
    <%= f.text_field :amount, :disabled => @service_provided_line_item.amount.nil? %>
  </div>

 <%= f.hidden_field :invoice_id, :value => @invoice.id %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
