<p id="notice"><%= notice %></p>

<p>
  <b>Ref:</b>
  <%= @invoice.ref %>
</p>

<p>
  <b>Invoice date:</b>
  <%= @invoice.invoice_date %>
</p>

<p>
  <b>Deposit due date:</b>
  <%= @invoice.deposit_due_date %>
</p>

<p>
  <b>Balance due date:</b>
  <%= @invoice.balance_due_date %>
</p>


<%= link_to 'Edit', edit_invoice_path(@invoice) %> |
<%= link_to 'Back', invoices_path %>
