<div class="container">
<h1>Listing themes</h1>

<table class="table table-condensed">
  <tr>
    <th>Name</th>
    <th>Gifts</th>
    <th>Kit</th>
    <th></th>
  </tr>

<% @themes.each do |theme| %>
  <tr>
    <td><%= theme.name %></td>
    <td><%= theme.gifts %></td>
    <td><%= theme.kit %></td>
    <td><%= link_to 'Edit', edit_theme_path(theme) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New theme', new_theme_path %> | <%= link_to 'Home', root_path %>
</div>