<h1>Listing suggested_slots</h1>

<table>
  <tr>
    <th>Time</th>
    <th>Studio</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @suggested_slots.each do |suggested_slot| %>
  <tr>
    <td><%= suggested_slot.time %></td>
    <td><%= suggested_slot.studio %></td>
    <td><%= link_to 'Show', suggested_slot %></td>
    <td><%= link_to 'Edit', edit_suggested_slot_path(suggested_slot) %></td>
    <td><%= link_to 'Destroy', suggested_slot, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Suggested slot', new_suggested_slot_path %>
