<%= form_for(@events_company) do |f| %>
  <% if @events_company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@events_company.errors.count, "error") %> prohibited this events_company from being saved:</h2>

      <ul>
      <% @events_company.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<form role="form"> <!-- Bootstrap CSS styling -->
	<div class = "row">
		<div class = "col-md-6">
  			<div class="form-group">
    			<%= f.label :name %><br />
    			<%= f.text_field :name, {:class=>"form-control"} %>
  			</div>
  			<div class="form-group">
    			<%= f.label :address %><br />
    			<%= f.text_area :address, {:class=>"form-control", :rows=>3} %>
  			</div>
  			<div class="form-group">
    			<%= f.label :website %><br />
    			<%= f.text_field :website, {:class=>"form-control"} %>
  			</div>
  			<div class="form-group">
    			<%= f.label :email %><br />
    			<%= f.text_field :email, {:class=>"form-control"} %>
  			</div>
  			<div class="form-group">
    			<%= f.label :phone %><br />
    			<%= f.text_field :phone, {:class=>"form-control"} %>
  			</div>
		</div>
		<div class = "col-md-6">
  			<div class="form-group">
    			<%= f.label :service_agreement %><br />
    			<%= f.text_area :service_agreement, {:class=>"form-control", :rows=>3} %>
  			</div>
  			<div class="form-group">
    			<%= f.label :payment_terms %><br />
    			<%= f.text_area :payment_terms, {:class=>"form-control", :rows=>3} %>
  			</div>
  			<div class="form-group">
    			<%= f.label :notes %><br />
    			<%= f.text_area :notes, {:class=>"form-control", :rows=>3} %>
  			</div>
		</div>
	</div>
  	<div class="actions">
    	<%= f.submit %>
  	</div>
<% end %>
