<div class="container">
<h1>Listing events companies</h1>

<table class="table table-condensed">
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Website</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Service agreement</th>
    <th>Payment terms</th>
    <th>Notes</th>
    <th></th>
  </tr>

<% @events_companies.each do |events_company| %>
  <tr>
    <td><%= events_company.name %></td>
    <td><%= events_company.address %></td>
    <td><%= events_company.website %></td>
    <td><%= events_company.email %></td>
    <td><%= events_company.phone %></td>
    <td><%= events_company.service_agreement %></td>
    <td><%= events_company.payment_terms %></td>
    <td><%= events_company.notes %></td>
    <td><%= link_to 'Edit', edit_events_company_path(events_company) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New events company', new_events_company_path %> | <%= link_to 'Home', root_path %>
</div>