<p><em><%= booking.offer %></em></p>
<% booking.invoices.each do |invoice| %>
  <%= render partial: "invoice_summary", locals: {invoice: invoice} %>
<% end %>

<% if booking.invoices.any? %>
  <table class="table table-condensed">
  <% if booking.deposit_paid? %>
    <% unless booking.amount == 0 %>
    <tr><td><em>Balance due <%= booking.invoices.last.balance_due_date.to_s(:standard) %></em></td><td><em><%= number_to_currency(booking.amount, unit: "&pound;", precision: 0) %></em></td></tr>
    <% end %>
  <% else %>
    <tr><td><em>
      <% if booking.invoices.last.deposit_due_date < Date.today %>
        <mark>
      <% end %>
      Deposit due <%= booking.invoices.last.deposit_due_date.to_s(:standard) %></em></td><td><em><%= number_to_currency(booking.deposit_due, unit: "&pound;", precision: 0) %>
      <% if booking.invoices.last.deposit_due_date < Date.today %>
        </mark>
      <% end %>
      </em></td></tr>
    <tr><td><em>
      <% if booking.invoices.last.balance_due_date < Date.today %>
        <mark>
      <% end %>
      Balance due <%= booking.invoices.last.balance_due_date.to_s(:standard) %></td><td><em><%= number_to_currency(booking.deposit_due*2, unit: "&pound;", precision: 0) %>
      <% if booking.invoices.last.balance_due_date < Date.today %>
        </mark>
      <% end %>      
      </em></td></tr>
  <% end %>
  </table>
<% end %>