<!-- Balance Due Table -->
<h2>Balances Overdue</h2>
<% if Booking.dates_of_balance_due_bookings(@filtered_regions).any? %>
<table class="table table-condensed">
  <tr>
    <th>Customer</th>
    <th>Time &amp; Studio</th>
    <th>Instructor</th>
    <th>Booking Notes</th>
    <th>Payment</th>
    <th>Actions</th>
  </tr>
  <% Booking.dates_of_balance_due_bookings(@filtered_regions).each do |date| %>
    <tr><td colspan=6><h3><%= date.nil? ? "Timeslot TBC" : date.to_s(:standard) %></h3></td></tr>
    <% Booking.orderedByTimeslotOn(@filtered_regions, date).select { |booking| booking.invoice.balance_due_date < Date.today }.each do |booking| %>
      <%= render partial: "booking_row", :locals => {:booking => booking} %>
    <% end %>
  <% end %>
</table>
<% else %>
<p>No balances overdue</p>
<% end %>

<!-- Deposit Due Table -->
<h2>Deposits Overdue</h2>
<% if Booking.dates_of_deposit_due_bookings(@filtered_regions).any? %>
<table class="table table-condensed">
  <tr>
    <th>Customer</th>
    <th>Time &amp; Studio</th>
    <th>Instructor</th>
    <th>Booking Notes</th>
    <th>Payment</th>
    <th>Actions</th>
  </tr>
  <% Booking.dates_of_deposit_due_bookings(@filtered_regions).each do |date| %>
    <tr><td colspan=6><h3><%= date.nil? ? "Timeslot TBC" : date.to_s(:standard) %></h3></td></tr>
    <% Booking.orderedByTimeslotOn(@filtered_regions, date).select { |booking| booking.invoices.last.deposit_due_date < Date.today }.each do |booking| %>
      <%= render partial: "booking_row", :locals => {:booking => booking} %>
    <% end %>
  <% end %>
</table>
<% else %>
<p>No deposits overdue</p>
<% end %>

<!-- All current bookings table -->
<h2>All Current Bookings</h2>
<table class="table table-condensed">
  <tr>
    <th>Customer</th>
    <th>Time &amp; Studio</th>
    <th>Instructor</th>
    <th>Booking Notes</th>
    <th>Payment</th>
    <th>Actions</th>
  </tr>
  <% Booking.dates_of_current_bookings(@filtered_regions).each do |date| %>
    <tr><td colspan=6><h3><%= date.nil? ? "Timeslot TBC" : date.to_s(:standard) %></h3></td></tr>
    <% Booking.orderedByTimeslotOn(@filtered_regions, date).each do |booking| %>
      <%= render partial: "booking_row", :locals => {:booking => booking} %>
    <% end %>
  <% end %>
</table>