	<!-- implement when colours have been built
	<h2>Action Required</h2>
	<table>
		<tr>
			<th>Time &amp; Studio</th>
			<th>Customer</th>
			<th>Instructor &amp; Theme</th>
			<th>Booking Communication</th>
			<th>Payment</th>
		</tr>
	</table>
	-->
		<table class="table table-condensed">
			<tr>
				<th>Customer</th>
				<th>Time &amp; Studio</th>
				<th>Instructor</th>
				<th>Booking Notes</th>
				<th>Payment</th>
				<th>Actions</th>
			</tr>
<!-- show by date, city, venue, time -->
	<% Booking.datesOfCurrentBookings(@filtered_regions).each do |date| %>
		<tr><td colspan=6><h2><%= date.to_s(:standard) %></h2></td></tr>
			<!-- make this a partial? -->
			<% Booking.orderedByTimeslotOn(@filtered_regions, date).each do |booking| %>
                <!-- this id acts as an anchor so user returns to the booking they left from -->
                <tr id ="booking<%= booking.id %>">
					<td> <!-- Customer -->
							<p><%= booking.customer %></p>
							<p><%= booking.customer.telephone_number %></p>
							<p><%= booking.customer.email %></p>
							<p><%= booking.city %></p>
							<p><% if booking.guest.nil? %>
								<span class="text-muted">No</span>
							<% else %>
								<%= booking.guest.to_s %>
							<% end %>
							<span class="text-muted"> guests</span></p>
							<p>
							<% if booking.theme.nil? %>
								<span class ="text-muted">No theme</span>
							<% else %>
								<%= booking.theme.name %></p>
							<% end %>
							</p>
							<% unless booking.sales_person.nil? %>
									<p><span class="text-muted">EO </span><%= booking.sales_person.name %><br>(<%= booking.sales_person.events_company.name %>)</p>
							<% end %>
							<p><%= booking.notes %></p>
					</td>
					
					<td> <!-- Time and Studio -->
						<p><%= booking.timeslot.to_s(:time_only) %>
						<% if booking.studio.nil? %>
							<span class="text-muted">No studio</span></p>
						<% else %>
							<span class="text-muted">at</span> <%= booking.studio %></p>
						<% end %>
						<!-- Studio Events -->
						<%= render partial: "events",
							:locals => {:events => booking.events.where(:type => "StudioEvent").order('occurred_at'),
							:type => "studio",
							:booking_id => booking.id}
						%>
					</td> 

					<td> <!-- Intructor -->
						<p>
							<% if booking.coach.nil? %>
								<span class ="text-muted">No instructor</span>
							<% else %>
								<%= booking.coach.name %>
							<% end %>
						</p>
						<!-- Instructor Events -->
						<%= render partial: "events",
							:locals => {:events => booking.events.where(:type => "InstructorEvent").order('occurred_at'),
							:type => "instructor",
							:booking_id => booking.id}
						%>				</td>
					<td> <!-- Booking notes -->
						<%= render partial: "events",
							:locals => {:events => booking.events.where(:type => "BookingEvent").order('occurred_at'),
							:type => "booking",
							:booking_id => booking.id}
						%>
					</td>
					<td> <!-- Payment notes -->
						<%= render partial: "events",
							:locals => {:events => booking.events.where(:type => "PaymentEvent").order('occurred_at'),
							:type => "payment",
							:booking_id => booking.id}
						%>
					</td>
					<td> <!-- Actions  -->
						<p><%= link_to 'Edit', edit_booking_path(booking) %></p>
						<p><%= link_to 'Studio calendar', studio_calendar_booking_path(booking) %></p>
					</td>
				</tr>
			<% end %>
	   <% end %>
</table>