<!-- this id acts as an anchor so user returns to the booking they left from -->
                <tr id ="booking<%= booking.id %>">
					<td> <!-- Customer -->
							<p><%= booking.customer %></p>
							<p><%= booking.customer.telephone_number %></p>
							<p><%= booking.customer.email %></p>
							<p><%= booking.city %></p>
							<p><%= booking.no_guests == 0 ? "?" : booking.no_guests %><span class="text-muted"> guests</span></p>
							<p>
							<% if booking.theme.nil? %>
								<span class ="text-muted">No theme</span>
							<% else %>
								<%= booking.theme.name %></p>
							<% end %>
							</p>
							<% unless booking.sales_person.nil? %>
									<p><span class="text-muted">EO </span><%= booking.sales_person.name %><br>(<%= booking.sales_person.events_company.name %>)</p>
							<% end %>
							<p><%= booking.notes %></p>
					</td>
					
					<td> <!-- Time and Studio -->
						<p><%= booking.timeslot.nil? ? "TBC" : booking.timeslot.to_s(:time_only)  %>
						<% if booking.studio.nil? %>
							<span class="text-muted">No studio</span></p>
						<% else %>
							<span class="text-muted">at</span> <%= booking.studio %></p>
						<% end %>
						<!-- Studio Events -->
						<%= render partial: "events",
							:locals => {:events => booking.events.where(:type => "StudioEvent").order('occurred_at'),
							:type => "studio",
							:booking_id => booking.id}
						%>
					</td> 

					<td> <!-- Intructor -->
						<p>
							<% if booking.coach.nil? %>
								<span class ="text-muted">No instructor</span>
							<% else %>
								<%= booking.coach.full_name %>
							<% end %>
						</p>
						<!-- Instructor Events -->
						<%= render partial: "events",
							:locals => {:events => booking.events.where(:type => "InstructorEvent").order('occurred_at'),
							:type => "instructor",
							:booking_id => booking.id}
						%>				</td>
					<td> <!-- Booking notes -->
						<%= render partial: "events",
							:locals => {:events => booking.events.where(:type => "BookingEvent").order('occurred_at'),
							:type => "booking",
							:booking_id => booking.id}
						%>
					</td>
					<td><%= render partial: "account_summary", locals: {booking: booking} %></td>
					<td> <!-- Actions  -->
				        <p><%= link_to 'Edit booking', edit_booking_path(booking) %></p>
                      
                        <% if booking.timeslot.present? %>
                          <p><%= link_to 'Studio calendar', studio_calendar_booking_path(booking) %></p>
                        <% else %>
                          <p><span class ="text-muted">Studio calendar</span></p>
                        <% end %>
                      
                        <% if booking.timeslot.present? and booking.studio.present? and booking.theme.present? and booking.no_guests > 0  and !booking.invoice.nil? %>
                          <p><%= link_to 'Booking form', booking_form_booking_path(booking) %></p>
                        <% else %>
                          <p><span class ="text-muted">Booking form</span></p>
                        <% end %>
                      
                        <% if booking.timeslot.present? and booking.no_guests > 0 %>
                          <% if booking.invoice.nil? %>
                            <p><%= link_to 'Create invoice', new_invoice_path({:booking_id => booking.id}) %></p>
                          <% else %>
                            <p><%= link_to 'Invoice', invoice_path(booking.invoice) %></p>
                          <% end %>
                        <% else %>
                          <p><span class ="text-muted">Create invoice</span></p>
                        <% end %>
              
					</td>
				</tr>
