<%= form_for(@booking) do |f| %>
  <% if @booking.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% @booking.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<form role="form"> <!-- Bootstrap CSS styling -->
<div class="row">
	<div class="col-md-3">
		<%= f.fields_for :customer do |c| %> <!-- Customer fields -->
			<div class="form-group">
				<%= c.label :name, "Customer name" %><br />
				<%= c.text_field :name %>
			</div>
			<div class="form-group">
				<%= c.label :telephone_number, "Customer phone" %><br />
				<%= c.text_field :telephone_number %>
			</div>
			<div class="form-group">
				<%= c.label :email, "Customer email" %><br />
				<%= c.text_field :email %>
			</div>
			<div class="form-group">
				<%= c.label :city, "Customer city" %><br />
				<%= f.collection_select :city_id, @cities, :id, :name, {}, :size=>@cities.count, :class=>"form-control" %>
			</div>
		<% end %> <!-- End of customer fields -->
		
		<%= f.fields_for :guest do |g| %>
			<div class="form-group">
				<%= g.label :number, "Number of guests" %><br />
				<%= g.number_field :number %>
			</div>
		<% end %>
		
		<div class="form-group">
			<%= f.label :sales_person %><br />
			<%= f.collection_select :sales_person_id, @salespeople, :id, :name, :prompt => "Select a sales person" %>
			<br />
			<%= link_to 'Create new sales person', new_sales_person_path %>
		</div>
		<div class="form-group">
			<%= f.label "Extra customer notes" %><br />
			<%= f.text_area :notes, {:class=>"form-control", :rows=>3} %>
		</div>
	</div>
	<div class="col-md-3">
		<div class="form-group">
			<%= f.label :timeslot %><br />
			<%= f.datetime_select :timeslot %>
		</div>
		<div class="form-group">
			<%= f.label :studio %><br />
			<%= f.collection_select :studio_id, Studio.in_city(@booking.city), :id, :to_s, :prompt => "Select a studio" %>
			<br />
			<%= link_to 'Create new studio', new_studio_path %>
		</div>
	</div>
	<div class="col-md-3">
	  <div class="form-group">
			<%= f.label "Instructor" %><br />
			<%= f.collection_select :coach_id, @coaches, :id, :name, :prompt => "Select an instructor" %>
			<br />
			<%= link_to 'Create new instructor', new_coach_path %>
		</div>
		<div class="form-group">
			<%= f.label :theme %><br />
			<%= f.collection_select :theme_id, @themes, :id, :name, :prompt => "Select a theme" %>
			<br />
			<%= link_to 'Create new theme', new_theme_path %>
		</div>
	</div>
	<div class="col-md-3">
		<div class="form-group">
			<%= f.label :advance_venue_payment_required %><br />
			<%= f.check_box :advance_venue_payment_required %>
		</div>
	</div>
</div>
  <div class="actions">
    <%= f.submit %>
  </div>
</form>
<% end %>

