<%= form_for(@booking) do |f| %>
  <% if @booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% @booking.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :timeslot %><br />
    <%= f.datetime_select :timeslot %>
  </div>
  <div class="field">
    <%= f.label :customer %><br />
    <%= f.collection_select :customer_id, @customers, :id, :name, :prompt => "Select a customer" %>
    <%= link_to 'Add new customer', new_customer_path %>
  </div>
	<div class="field">
  	<p>Number of guests:<br />
  	<%= @booking.guest_number.number %>
  	<%= link_to 'Change', new_guest_path(:booking_id => @booking.id, :number => @booking.guest_number.number) %></p>
	</div>
  <div class="field">
    <%= f.label :theme %><br />
    <%= f.collection_select :theme_id, @themes, :id, :name, :prompt => "Select a theme" %>
    <%= link_to 'Add new theme', new_theme_path %>
  </div>
  <div class="field">
    <%= f.label :special_requirements %><br />
    <%= f.text_area :special_requirements %>
  </div>
  <div class="field">
    <p>event:<br />
    <% @booking.events.each do |event| %>
  		<%= event %>
  		<%= link_to 'Edit', edit_event_path(event.id) %></p>
  	<% end %>
  	<p><%= link_to 'Add new event', new_event_path(
  			:booking_id => @booking.id,
  			:code => @booking.current_event.code,
  			:notes => @booking.current_event.notes) %></p>
  </div>
  <div class="field">
    <%= f.label :notes %><br />
    <%= f.text_area :notes %>
  </div>
  <div class="field">
    <%= f.label :coach %><br />
    <%= f.collection_select :coach_id, @coaches, :id, :name, :prompt => "Select a coach" %>
    <%= link_to 'Add new coach', new_coach_path %>
  </div>
  <div class="field">
    <%= f.label :venue %><br />
    <%= f.collection_select :venue_id, @venues, :id, :name, :prompt => "Select a venue" %>
    <%= link_to 'Add new venue', new_venue_path %>
  </div>
  <div class="field">
    <%= f.label :venue_booked_with %><br />
    <%= f.text_field :venue_booked_with %>
  </div>
  <div class="field">
    <%= f.label :advance_venue_payment_required %><br />
    <%= f.check_box :advance_venue_payment_required %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
