<h1>Cheerleading Company Database</h1>
<%= link_to "Bookings", bookings_path %>
<%= link_to "Cities", cities_path %>
<%= link_to "Coaches", coaches_path %>
<%= link_to "Customers", customers_path %>
<%= link_to "Guests", guests_path %>
<%= link_to "Events Companies", events_companies_path %>
<%= link_to "Managers", managers_path %>
<%= link_to "Opening Times", opening_times_path %>
<%= link_to "Sales People", sales_people_path %>
<%= link_to "Studios", studios_path %>
<%= link_to "Suggested Slots", suggested_slots_path %>
<%= link_to "Themes", themes_path %>
<%= link_to "Venues", venues_path %>