<div class="container">
<h1>Listing customers</h1>

<table class="table table-condensed">
  <tr>
    <th>Name</th>
    <th>Telephone number</th>
    <th>Email</th>
    <th></th>
  </tr>

<% @customers.each do |customer| %>
  <tr>
    <td><%= customer.name %></td>
    <td><%= customer.telephone_number %></td>
    <td><%= customer.email %></td>
    <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Customer', new_customer_path %> | <%= link_to 'Home', root_path %>
</div>