<%= form_for(@venue) do |f| %>
    <% if @venue.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@venue.errors.count, "error") %> prohibited this venue from being saved:</h2>
            <ul>
            <% @venue.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
            </ul>
        </div>
    <% end %>

    <form role="form"> <!-- Bootstrap CSS styling -->
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <%= f.label :name %><br />
                    <%= f.text_field :name %>
                </div>
                <div class="form-group">
                    <%= f.label :contact_name %><br />
                    <%= f.text_field :contact_name %>
                </div>
                <div class="form-group">
                    <%= f.label :contact_email %><br />
                    <%= f.text_field :contact_email %>
                </div>
                <div class="form-group">
                    <%= f.label :contact_phone %><br />
                    <%= f.text_field :contact_phone %>
                </div>
                <div class="form-group">
                    <%= f.label :city %><br />
                    <%= f.collection_select :city_id, @cities, :id, :name, :prompt => "Select a city" %>
                </div>
            </div>
			<div class="col-md-4">
				<div class="form-group">
                    <%= f.label :address %><br />
                    <%= f.text_area :address, { :rows => 3 } %>
                </div>
			    <div class="form-group">
                    <%= f.label :payment_procedure %><br />
                    <%= f.text_area :payment_procedure, { :rows => 3 } %>
                </div>
                <div class="form-group">
                    <%= f.label "Venue notes" %><br />
                    <%= f.text_area :notes, { :rows => 3 } %>
                </div>
			</div>
            <div class="col-md-4">
                <%= f.fields_for :studios do |s| %> <!-- Default Studio fields -->
                    <div class="panel panel-default">
                        <% if s.object.name == "Default" %>
                            <div class="panel-heading">Default studio</div>
                            <%= s.hidden_field :name, value: "Default" %>
                        <% end %>
                        <div class="panel-body">
                        <% if s.object.name != "Default" %>
                            <div class="form-group">
                                <%= s.label :name %><br />
                                <%= s.text_field :name %>
                            </div>
                        <% end %>
                            <div class="form-group">
                                <%= s.label :capacity %><br />
                                <%= s.number_field :capacity %>
                            </div>
                            <div class="form-group">
                                <%= s.label :price %><br />
                                <%= s.text_field :price, :class => 'price', :value => (number_with_precision(s.object.price, :precision => 2) || 0) %>
                            </div>
                            <div class="form-group">
                                <%= s.label :available_from %><br />
                                <%= s.time_select :available_from %>
                            </div>
                            <div class="form-group">
                                <%= s.label :available_to %><br />
                                <%= s.time_select :available_to %>
                            </div>
                            <div class="form-group">
                                <%= s.label "Studio notes" %><br />
                                <%= s.text_area :notes, { :rows => 3 } %>
                            </div>
                        </div>
                    </div>
                <% end %> <!-- End of default studio fields -->
            </div>
        </div>
        <div class="actions">
            <%= f.submit %>
        </div>
    </form>
<% end %>