<%= form_for(@coach) do |f| %>
  <% if @coach.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@coach.errors.count, "error") %> prohibited this coach from being saved:</h2>

      <ul>
      <% @coach.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class = "row">
	<div class = "col-md-6">

		<div class="form-group">
			<%= f.label :first_name %><br />
			<%= f.text_field :first_name, {:class=>"form-control"} %>
		</div>
        <div class="form-group">
			<%= f.label :surname %><br />
			<%= f.text_field :surname, {:class=>"form-control"} %>
		</div>
		<div class="form-group">
			<%= f.label :phone %><br />
			<%= f.text_field :phone, {:class=>"form-control"} %>
		</div>
		<div class="form-group">
			<%= f.label :email %><br />
			<%= f.text_field :email, {:class=>"form-control"} %>
		</div>
		<div class="form-group">
			<%= f.label :day_rate %><br />
			<%= f.number_field :day_rate, {:class=>"form-control", :step => "0.01"} %>
		</div>
	</div>
	<div class = "col-md-6">
		<div class="form-group">
			<%= f.label "Cities" %><br />
			<% City.all.each do |city| %>
    			<div>
					<%= check_box_tag "coach[city_ids][]", city.id, @coach.cities.include?(city) %>
					<%= city.name %>
				</div>
			<% end %>
		</div>
	</div>
	</div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
