<%= form_for(@city) do |f| %>
  <% if @city.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@city.errors.count, "error") %> prohibited this city from being saved:</h2>

      <ul>
      <% @city.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<form role="form"> <!-- Bootstrap CSS styling -->
<div class = "row">
	<div class = "col-md-4">
	  <div class="form-group">
			<%= f.label :name %><br />
			<%= f.text_field :name, {:class=>"form-control"} %>
		</div>
	</div>
	<div class = "col-md-4">
		<div class="form-group">
			<%= f.label :region %><br />
			<%= f.select :region, City::REGIONS, {}, { :size=>City::REGIONS.count, :class=>"form-control" } %>
		</div>
	</div>
    <div class = "col-md-4">
		<div class="form-group">
			<%= f.label :latitude %><br />
			<%= f.number_field :latitude, :step => "0.0001" %>
		</div>
	</div>
</div>
  <div class="actions">
    <%= f.submit :class=>"btn btn-default" %>
  </div>
</form>
<% end %>
