<div class="container">
	<div class="page-header">
		<h1>Cities</h1>
	</div>

	<% City::REGIONS.each do |region| %>
		<h2><%= region %></h2>
		<table class="table table-condensed">
		<% City.find_all_by_region(region, :order => "latitude DESC").each do |city| %>
			<tr>
				<td><%= city.name %></td>
				<td><%= link_to 'Edit', edit_city_path(city) %></td>
			</tr>
		<% end %>
		</table>
	<% end %>

<br />

<%= link_to 'Create new city', new_city_path %> | <%= link_to 'Home', root_path %>
</div>