<p id="notice"><%= notice %></p>

<p>
  <b>Entry date:</b>
  <%= @line_item.entry_date %>
</p>

<p>
  <b>No guests:</b>
  <%= @line_item.no_guests %>
</p>

<p>
  <b>Type:</b>
  <%= @line_item.type %>
</p>

<p>
  <b>Amount:</b>
  <%= @line_item.amount %>
</p>

<p>
  <b>Amount:</b>
  <%= @line_item.amount %>
</p>

<p>
  <b>Note:</b>
  <%= @line_item.note %>
</p>

<p>
  <b>Action:</b>
  <%= @line_item.action %>
</p>

<p>
  <b>Description:</b>
  <%= @line_item.description %>
</p>

<p>
  <b>Expiry date:</b>
  <%= @line_item.expiry_date %>
</p>

<p>
  <b>References:</b>
  <%= @line_item.references %>
</p>

<p>
  <b>Invoice:</b>
  <%= @line_item.invoice %>
</p>


<%= link_to 'Edit', edit_line_item_path(@line_item) %> |
<%= link_to 'Back', line_items_path %>
