<%= form_for(@studio) do |f| %>
  <% if @studio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@studio.errors.count, "error") %> prohibited this studio from being saved:</h2>

      <ul>
      <% @studio.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <form role="form"> <!-- Bootstrap CSS styling -->
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <%= f.label :venue %><br />
                    <%= f.collection_select :venue_id, @venues, :id, :name, :prompt => "Select a venue" %>
                    <%= link_to 'Add new venue', new_venue_path %>
                </div>
                <div class="form-group">
                    <%= f.label :name %><br />
                    <%= f.text_field :name %>
                </div>
                <div class="form-group">
                    <%= f.label :capacity %><br />
                    <%= f.number_field :capacity %>
                </div>
                <div class="form-group">
                    <%= f.label :price %><br />
                    <%= f.number_field :price %>
                </div>
                <div class="form-group">
                    <%= f.label :available_from %><br />
                    <%= f.time_select :available_from %>
                </div>
                <div class="form-group">
                    <%= f.label :available_to %><br />
                    <%= f.time_select :available_to %>
                </div>
                <div class="form-group">
                    <%= f.label :notes %><br />
                    <%= f.text_area :notes, {:class=>"form-control", :rows=>3} %>
                </div>

            </div>
            <div class="col-md-6">
                <%= f.fields_for :suggested_slots do |s| %>
                    <%= render partial: "suggested_slot", locals: { s: s } %>
                <% end %>
                <!-- if the studio hasn't been created then there can be no new suggested slot path. user has to create studio first, then edit to add suggested slots. sucks, but i can't figure out a better way to do it -->
                <% unless @studio.id == nil %>
                    <%= link_to 'Add new suggested slot', new_studio_suggested_slot_path(@studio) %>
                <% end %>
            </div>
        </div>
        <div class = "row">
            <div class="actions">
                <%= f.submit %>
            </div>
        </div>

<% end %>
