<div class="container">
    <h1>Listing studios</h1>

    <table class="table table-condensed">
        <tr>
            <th>Name</th>
            <th>Venue</th>
            <th>Capacity</th>
            <th>Price</th>
            <th>Available from</th>
            <th>Available to</th>
            <th>Suggested slots</th>
            <th>Notes</th>
            <th></th>
        </tr>

    <% @studios.each do |studio| %>
        <tr>
            <td><%= studio.name %></td>
            <td><%= studio.venue.to_s + ", " + studio.venue.city.to_s %></td>
            <td><%= studio.capacity %></td>
            <td><%= number_to_currency(studio.price, unit: "&pound;") %></td>
            <td><%= studio.available_from.to_s(:time_only) %></td>
            <td><%= studio.available_to.to_s(:time_only) %></td>
            <td><%= studio.suggested_slots.map { |slot| slot.time.to_s(:time_only) }.join(",") %></td>
            <td><%= studio.notes %></td>
            <td><%= link_to 'Edit', edit_studio_path(studio) %></td>
        </tr>
    <% end %>
    </table>

    <br />

    <%= link_to 'Create new studio', new_studio_path %> | <%= link_to 'Home', root_path %>
</div>