<h1>Listing studios</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Capacity</th>
    <th>Price</th>
    <th>Available from</th>
    <th>Available to</th>
    <th>Notes</th>
    <th>Venue</th>
    <th></th>
  </tr>

<% @studios.each do |studio| %>
  <tr>
    <td><%= studio.name %></td>
    <td><%= studio.capacity %></td>
    <td><%= studio.price %></td>
    <td><%= studio.available_from %></td>
    <td><%= studio.available_to %></td>
    <td><%= studio.notes %></td>
    <td><%= studio.venue %></td>
    <td><%= link_to 'Edit', edit_studio_path(studio) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Studio', new_studio_path %> | <%= link_to 'Home', root_path %> |
