<%= form_for(@sales_person) do |f| %>
  <% if @sales_person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sales_person.errors.count, "error") %> prohibited this sales_person from being saved:</h2>

      <ul>
      <% @sales_person.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :events_company %><br />
    <%= select("sales_person", "events_company_id", EventsCompany.all.collect{|u| [u.name,u.id]}) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
